{{ form_start(formLogin, {'attr': {'class': 'form-horizontal login-form', 'role': 'form'}}) }}
    <div class="form-group">
        <span class="col-sm-4 control-label">
            {{ form_label(formLogin.email) }}
        </span>
        <div class="col-sm-8">
            {{ form_widget(formLogin.email, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <span class="col-sm-4 control-label">
            {{ form_label(formLogin.password) }}
        </span>
        <div class="col-sm-8">
            {{ form_widget(formLogin.password, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <div class="checkbox">
                <label>
                    {{ form_widget(formLogin.rememberMe) }} Remember me
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            {{ form_widget(formLogin.signIn, {'attr': {'class': 'btn btn-default'}}) }}
        </div>
    </div>
{{ form_end(formLogin) }}