{% form_theme formProfile 'form-bootstrap-theme.twig' %}
{% extends 'layout.twig' %}

{% block content %}
    <div class="row user-forms">
        <div class="col-md-5">
            <ul class="nav nav-tabs">
                <li><a href="{{ url('user_profile') }}">{{ 'Profile'|trans }}</a></li>
                <li class="active"><a href="{{ url('user_profile_edit') }}">{{ 'Edit profile'|trans }}</a></li>
                <li><a href="{{ url('user_profile_password') }}">{{ 'Change password'|trans }}</a></li>
            </ul>
            {{ form(formProfile) }}
        </div>
    </div>
{% endblock %}